@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HTML ELEMENTS */
html, body {
  margin: auto;
  padding: auto;
  overflow-x: hidden;
}

h1, h3, h4 {
  font-family: 'Redressed', cursive;
}

h2 {
  font-family: 'Redressed', cursive;
  font-size: 2.5rem;
}

h5 {
  font-family: 'Redressed', cursive;
  font-size: 2rem;
}

p {
  font-family: 'Raleway', cursive;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Padding Styles */
.booking-pad {
  padding: 7% 15%;
}

/* Margin Styles */
.my-6 {
  padding: 7% 0 5%;
}

.mr-6 {
  padding-left: 2%;
}

/* Font Family */
.fntfam1 {
  font-family: 'Redressed', cursive;
  font-size: 2rem !important;
}

.fntfam2 {
  font-family: 'Raleway', cursive;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.fntfam3 {
  font-family: 'Raleway', cursive;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.fntcolwhite {
  color: white !important;
}

.fntcolblk {
  color: black !important;
}

/* Text Decoration */
.txtundl {
  text-decoration: underline;
}

#nav {
  color: black !important;
  text-decoration: none;
  margin: auto 50px;
}

.w-50 {
  padding-left: 10%;
}

/* Navigation Font */
#navfont {
  text-align: center;
}

.btnfont {
  color: white;
  font-family: 'Raleway', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.cntr {
  text-align: center !important;
  color: black;
}

.navcont {
  margin-left: 500px;
}

.wid1 {
  width: 250px;
}

/* Carousel Image */
/* Margin Style  */
.mrgright {
  margin-right: 200px;
}

.mrglr {
  margin: auto 3rem;
}

/* Background */
#bgcol {
  position: relative;
  top: 5px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: pink;
}

.bgcol1 {
  height: 100%;
  width: 100%;
  background-color: black;
}

.txtleft {
  text-align: left;
}

.txtright {
  text-align: right;
}

.txtcntr {
  text-align: center;
}

.txtjst {
  text-align: justify;
}

/* Indicator Colour */
.carousel-control-prev {
  color: blue;
}

/* Padding Style */
.padlft {
  margin-left: 60px;
}

.padtop {
  padding-top: 5rem;
}

.padbot {
  padding-bottom: 60%
}

.padtxtbot {
  padding-bottom: 2rem;
}

.padtbrem {
  padding: 6rem 0 6rem 0;
}

.padtbrem1 {
  padding: 2rem 1rem;
}

.padtbrem2 {
  padding: 5% 0;
}

/* Height + Width */

.carousel-item {
  height: 58rem;
}

/* =============== Images ================*/

/* 1st row second pic */

.imght {
  height: 58.3rem;
  width: auto;
}

/* 2nd row second pic */

.imght1 {
  height: 397px;
  width: auto;
}

/* 2nd row 3rd pic */

.imght3 {
  height: 53.64rem;
  width: auto;
}

/* Booking Section */

.padhour {
  padding: 5px 25px;
  width: 100%;
}

.padhour1 {
  padding: 7px 10px;
  width: 100%;
}

.lblfont {
  font-size: 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Footer Section */

.pfooter {
  color: white;
}

.btn50 {
  width: auto;
  margin-left: 45%;
  font-size: 4.5rem;
  font-family: 'Roboto', sans-serif;
}

#alert {
  margin-bottom: 0 !important;
}

#navfont {
  color: black;
}

#btn1 {
  text-align: center;
  padding: 2%;
}

/* ===============================================================================
===============================================================================
=============================================================================== */

@media (max-width: 1400px) {

  p {
    font-size: 1rem;
  }

  #navbar0 {
    width: 100%;
  }

  #navbar2 {
    padding-top: 5px;
  }

  #img3 {
    height: 632px;
  }

  .imght1 {
    height: 320.9px;
  }

  #btn1 {
    padding: 2rem 12px 1rem;
    text-align: center;
  }

  .btn-lg {
    font-size: 1rem;
  }

  .padhour {
    padding: 7px 10px;
  }

}

/* Macbook 11 inch */

@media (max-width: 1366px) {
  #img4 {
    height: 19.3rem;
  }
}

/* ================= XL Version ==================== */

@media (max-width: 1200px) {

  #img3 {
    height: 35rem;
  }

  #img4 {
    height: 16.3rem;
  }
}

/* ================= iPad Version ==================== */

@media (max-width: 1024px) {

  .carousel-item {
    height: 700px;
  }

  #carousel-image1 {
    height: 700px;
  }

  #navbar1 {
    width: 124px;
  }

  #navbar2 {
    padding-top: 5px;
    padding-left: 830px;
    width: 124px;
  }

  /* #navlink {
    margin-left: 40%;
  } */

  #img3 {
    height: 500px;
  }

  #img4 {
    height: 195px;
  }

  .btn50 {
    margin-left: 30%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  html, body, section {
    margin: 0 !important;
    padding: 0 !important;
  }

  .carousel-item {
    height: 400px;
  }

  #carousel-image1 {
    height: 400px !important;
  }

  /* Alert Bar Footer */
  .navbar-collapse {
    width: auto;
  }

  #navbar2 {
    width: 504px;
    padding-left: 0;
  }

  #navlink {
    margin-left: 40%;
  }

  /* more code here */
  #alert {
    margin-bottom: 0 !important;
  }

  .h-100 {
    /* height: 20rem !important; */
  }

  #ourfont {
    font-size: 2rem;
  }

  .padtbrem2 {
    padding: 5% 0;
  }

  .container-fluid {
    margin: auto !important;
    padding: 0 0 !important;
  }

  /* Navigation Bar */
  .navbar-toggler {
    margin-left: 580px;
  }

  /* Images */
  #Images {
    margin: auto !important;
    padding: 1rem 1rem !important;
    height: 100% !important;
  }

  #Images1 {
    margin: 0 !important;
    padding: 1rem 1rem 0 1rem !important;
    height: 500px;
  }

  #Images2 {
    margin: auto !important;
    padding: 0rem 1rem !important;
    height: 100% !important;
  }

  #img2, #img3 {
    display: none;
  }

  #img4 {
    height: 20% !important;
    margin: auto !important;
    padding: 1rem 0 0 !important;
  }

  #Menu1, #Menu2, #Menu3 {
    text-align: center !important;
    padding: 2rem 0;
  }

  /* .mb-lg-0 {
    margin: 0 !important;
  } */
  /* Font Family */
  h1, h2, h3, h4, h5, p, .fntfam2, .pfooter, .lblfont, .btnfont {
    font-size: 1rem;
  }

  #Booking-Table {
    margin: 0 35%;
  }

  #Booking-Title {
    display: none;
  }

  #btn {
    font-size: 1rem;
  }

  .padhour1 {
    padding-left: 6%;
  }

  .lblfont {
    color: none !important;
    opacity: 0;
  }

  .btn50 {
    margin-left: 25%;
  }

  #form-row {
    padding-bottom: 15px;
  }
}

/* ================= iPad Version ==================== */
/* Mobile Version */
@media (max-width: 600px) {
  #navbartoggler {
    margin-left: 210px;
  }

  #navbar3 {
    height: 40px;
  }

  #navbar1 {
    width: 124px;
  }

  #navbar2 {
    padding-top: 5px;
    padding-left: 12px;
    width: 124px;
  }

  #navlink {
    margin-left: 30%;
  }

  /* Font */
  p, .fntfam2 {
    font-size: 0.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  .fntfam3, h2 {
    font-size: 2rem;
  }

  /* Carousel  */
  .carousel-item {
    height: 320px;
  }

  #carousel-image1 {
    height: 320px;
  }

  /* OUR RESTAURANT SECTION */
  .padtbrem2 {
    padding: 3rem 2rem;
  }

  /* MENU SECTION */
  #Menu1, #Menu2, #Menu3 {
    text-align: center !important;
    padding: 2rem 0;
  }

  .btnfont {
    font-size: 1rem;
  }

  /* Image Section */
  #Images.mb-4 {
    margin-bottom: 0;
  }

  #img2, #img3 {
    display: none;
  }

  #img4 {
    height: 255px;
  }

  /* Booking Section */
  #Booking-Title {
    display: none;
  }

  #form-row {
    padding-bottom: 12px;
  }

  .mr-6 {
    padding-left: 30px;
  }

  #btn {
    margin-left: 8%;
    font-size: 1rem;
  }
}

/* ================= iPhone X Screen ======================== */
@media (max-width: 375px) {

  /* Navigation */
  #navbartoggler {
    margin-left: 170px;
  }

  #navbar1 {
    width: 124px;
  }

  #navbar2 {
    padding-top: 5px;
    padding-left: 12px;
    width: 124px;
  }

  #navlink {
    margin-left: 30%;
  }

  /* Font */
  p, .fntfam2 {
    font-size: 0.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  .fntfam3, h2 {
    font-size: 2rem;
  }

  /* Carousel  */
  .carousel-item {
    height: 320px;
  }

  #carousel-image1 {
    height: 320px;
  }

  /* OUR RESTAURANT SECTION */
  .padtbrem2 {
    padding: 3rem 2rem;
  }

  /* MENU SECTION */
  #Menu1, #Menu2, #Menu3 {
    text-align: center !important;
    padding: 2rem 0;
  }

  .btnfont {
    font-size: 1rem;
  }

  /* Image Section */
  #Images.mb-4 {
    margin-bottom: 0;
  }

  #img2, #img3 {
    display: none;
  }

  #img4 {
    height: 255px;
  }

  /* Booking Section */
  #Booking-Title {
    display: none;
  }

  #btn {
    margin-left: 20%;
    font-size: 0.8rem;
  }

  #form-row {
    padding-bottom: 12px;
  }

  .mr-6 {
    padding-left: 30px;
  }
}
